## Configuration

. {{dspace_install_dir}}/etc/conf.sh

MAVEN_PACKAGE_ARGS="-Dmirage2.on=true" 


# Build dspace as an unprivleged user
if [[ $EUID -eq 0 ]]; then
    echo "Please don't run as root"
    exit
fi

# Maybe skip restart? 
SKIP_RESTART=0
if [ "$1" == "--skip-restart" ] ; then 
    SKIP_RESTART=1
fi


#
# Build Dspace
#
cd "${DSPACE_SRC}"
"${MAVEN}" package "${MAVEN_PACKAGE_ARGS}"

OUT=$?
if [ $OUT -eq 0 ];then
   echo "Maven Update successful"
else
   exit $OUT
fi

#
# Install DSpace
#
cd "${DSPACE_SRC}/dspace/target/dspace-installer"

if [ -d "${DSPACE_RUN}" ];then
  $ANT  -Doverwrite=true update clean_backups
else
  $ANT fresh_install
fi

OUT=$?
if [ $OUT -eq 0 ];then
   echo "ANT Update successful"
else
   exit $OUT
fi

# make sure tomcat can open files that it needs to use
sudo chown -R tomcat:tomcat "${DSPACE_RUN}"

if [ $SKIP_RESTART -eq 1 ];then
  echo "Skipping restart of tomcat"
else
  sudo systemctl restart tomcat
fi
