#!/bin/bash

# File managed by Ansible, do not hand edit.

# Load per-host configuration
. {{dspace_install_dir}}/etc/conf.sh

MAVEN_PACKAGE_ARGS="-Dmirage2.on=true"

# Build DSpace as tomcat
if [[ $(whoami) != "tomcat" ]]; then
    echo "Please run as tomcat"
    exit
fi

#
# Build DSpace
#
cd "${DSPACE_SRC}"
"${MAVEN}" package "${MAVEN_PACKAGE_ARGS}"
OUT=$?
if [ $OUT -eq 0 ];then
   echo "Maven Update successful"
else
   exit $OUT
fi

#
# Install DSpace
#
cd "${DSPACE_SRC}/dspace/target/dspace-installer"
if [ -d "${DSPACE_RUN}" ];then
  $ANT  -Doverwrite=true update clean_backups
else
  $ANT fresh_install
fi
OUT=$?
if [ $OUT -eq 0 ];then
   echo "ANT Update successful"
else
   exit $OUT
fi
