/var/log/tomcat/localhost_access_log.txt
/var/log/tomcat/catalina.out
/var/log/tomcat/catalina.log
/var/log/tomcat/localhost.log
/var/log/tomcat/manager.log
/var/log/tomcat/host-manager.log
{
    copytruncate
    daily
    rotate 90
    compress
    missingok
    create 0644 tomcat tomcat
}
