<?xml version='1.0'?>
<!-- CHANGE THE VALUE OF "[app]" FOR EACH APPLICATION YOU WISH TO ADD -->
<Context
    docBase="{{ dspace_install_dir }}/webapps/rest"
    reloadable="true"
    cachingAllowed="false"/>
