# Ansible managed file

# Deliver cron email to system administrator
MAILTO="{{dspace_cron_mailto}}"

# DSpace Installation
DSPACE="{{dspace_install_dir}}/dspace"
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
JAVA_OPTS="{{dspace_cron_java_opts}}"

# Run the DSpace media filter scripts and save all output to a log file
# (Creates image thumbnails, indexes full text, and
# performs any automated format conversions)
0 * * * * $DSPACE/bin/dspace filter-media

# Importing existing authors & keeping the index up to date
30 3 * * 0 $DSPACE/bin/dspace index-authority > /dev/null

# SiteMaps ensure that your content is more findable in Google, Google Scholar, and other major search engines.
0 4 * * 0 $DSPACE/bin/dspace generate-sitemaps > /dev/null

# Update Discovery search and browse Index
30 5 * * 0 $DSPACE/bin/dspace index-discovery > /dev/null

# Run OAI incremental import with optimization
0 6 * * 0 $DSPACE/bin/dspace oai import > /dev/null
